@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

main {
  height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  /* align-self: start; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  height: 30px;
}

.nav-links {
  list-style-type:none ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: unset;
}

.nav-separator {
  height: 20px;
  border: solid 1px black;
  background-color: #000;
  margin: 0 10px;

}

nav {
  border: 3px solid black;
}

input::placeholder {
  color: black;
}


.book {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  height: 25px;
}

.books-container,
input {
  width: 100%;
  max-width: 500px;
  border: 3px solid black;
}

.book-grey {
  background-color: rgb(237, 233, 233);
}

.book-white {
  background-color: white;
}

button {
  height: 20px;
  border: 3px solid black;
  box-shadow: 2px 2px black;
}

.add-button {
  position: relative;
  margin-right: 0;
  margin-left: calc(100% - 40px);
}

/* divider  */
.divider {
  /* minor cosmetics */
  display: table;
  font-size: 24px;
  text-align: center;
  width: 75%; /* divider width */
  margin: 40px auto; /* spacing above/below */
}

.divider span {
  display: table-cell;
  position: relative;
}

.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 13px; /* adjust vertical align */
  -moz-background-size: 100% 2px; /* line width */
  background-size: 100% 2px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.divider span:first-child {
  /* color changes in here */
  background-image:
    -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(transparent),
      to(#000)
    );
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
}

.divider span:nth-child(2) {
  color: #000;
  padding: 0 5px;
  width: auto;
  white-space: nowrap;
}

.divider span:last-child {
  /* color changes in here */
  background-image:
    -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#000),
      to(transparent)
    );
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
}
